.side
  .side-header
    .side-header__name
      %p.side-header__name-user Yoshimura
      .side-header__name-group
        %p.side-header__name-menu 
          =link_to "#" do
            =icon('fas', 'edit')
        %p.side-header__name-cog
          =link_to "#" do
            =icon('fas','cog')
  .side-group
    %p.side-group__name f
    %p.side-group__messages n


